<!--  This file is app/views/dashboard/index.html.erb -->
<div class="row">
    <div class="col-12 text-center">
    alma
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
    because your tasks matter
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <%= link_to 'login', new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-primary' %>
    </div>
</div>


