<h2>All Available Tasks</h2>

<table class="table table-striped col-md-12" id="tasks">
  <thead>
    <tr>
      <th>
        <%= link_to 'Task Title', movies_path({sort_by: 'title', ratings: @ratings_to_show_hash}),
                      id: 'title_header', class: ('bg-warning hilite' if @sort_by == 'title') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.title %>
        </td>
        <td>
          <%= link_to "More about #{task.title}", task_path(task) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new task', new_task_path, class: 'btn btn-primary' %>