
 .btn-primary {
    background-color: #78b3e0;
    border-color: #78b3e0;
    border-radius:10px;
    width: 100px;
    margin-left: 40px;
    margin-right: 20px;
    color: black;
 }

 .title {
    font-size: 150px;
    text-align: center;
    margin-top: 150px; 
 }

 .text-center {
    font-size: 20px;
 }

 .row3 {
    margin-top: 100px;
 }

 .form {
    background-color: #78b3e0;
    padding: 20px;
 }
 
 .actions{
    margin-top: 50px;
    text-align: center;
 }


 .header {
    text-align: center;
 }


 .field {
    margin-left: 30px;
    margin-bottom: 30px;
 }

 .buttons_profile {
    float:left;
    margin-top: 50px;
 }

 .info-box {
    background-color: #e6f2ff;
    height: 150px;
    margin-left: 100px;
    text-align: center;
 }
 .my-tasks-box {
    background-color: #ccf2ff;
    margin-top: 50px;
    margin-left: 100px;
 }

 .info-section {
    margin-top: 50px;
 }
 .tasks-section {
    margin-top:100px;
 }