.container {
  padding-bottom: 40px;
}
.btn-primary {
  background-color: #78b3e0;
  border-color: #78b3e0;
  border-radius: 10px;
  width: 100px;
  margin-left: 40px;
  margin-right: 20px;
  color: black;
}
.filter-btn {
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition-duration: 0.1s;
}

.filter-btn:hover {
  background-color: #78b3e0;
}

.delete-btn {
  border-radius: 10px;
}

.title {
  font-size: 90px;
  text-align: center !important;
  margin-top: 40px;
}

.text-center {
  font-size: 20px;
}

.row3 {
  margin-top: 50px;
}

.form {
  background-color: #78b3e0;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.actions {
  margin-top: 50px;
  text-align: center;
}

.header {
  text-align: center;
}
.jumbotron {
  margin-top: 40px;
  background: none;
  background-color: white;
  border-radius: 20px;
}
.field {
  margin-left: 30px;
  margin-bottom: 15px;
}
#profile-title {
  margin-top: 20px;
}
#account-info {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.task-prof {
  margin: 20px;
  padding: 20px;
  background-color: #f2f3f4;
  border-radius: 25px;
}
.my-tasks-box {
  background-color: #ccf2ff;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
}
.info-section {
  margin-top: 50px;
}
.tasks-section {
  margin-top: 100px;
}
#index-title {
  margin-top: 20px;
}
.card-body {
  background-color: #78b3e0;
  border-radius: 10px;
}

.card {
  margin-top: 50px;
  border-radius: 10px;
}

.btn-create {
  background-color: #3366ff;
  color: white;
  margin-top: 50px;
}

.cancel {
  margin-top: 100px;
  margin-bottom: 50px;
}
.task-info {
  background-color: #ccf2ff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.edit-task {
  margin-top: 20px;
}
.descriptor {
  margin: 10px;
}
.top-header {
  margin-top: 20px;
}
form {
  border-radius: 10px;
}
.filter-btn {
  margin: 5px;
}
.vertical-center{
  margin-top: 10px;
  margin-bottom: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10px;
}
.spacing{
  height: 20px;
}