<!--  This file is app/views/tasks/home.html.erb -->
<h2>Alma</h2>
<h3>Because your tasks matter</h3>

<div class="row">
    <%= link_to 'login', some_path, class: 'btn btn-primary' %>
    <%= link_to 'sign up', some_path, class: 'btn btn-primary' %>
</div>
